<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>rbxlhacks</title>
<link rel="stylesheet" href="components/scripts/CSS/styles.css">

<!-- Favicon -->
<!-- <link rel="shortcut icon" href="media/globe.ico"> -->

<!-- Font Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- Meta Tags -->
<meta name="title" content="rbxlhacks | test site">
<meta name="description" content="rbxlhacks - testing-9.25.2024-6.52PM-Fa4uq6pEdrwb">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="rbxlhacks | test site">
<meta property="og:description" content="rbxlhacks - testing-9.25.2024-6.52PM-Fa4uq6pEdrwb">
<meta property="og:type" content="website">
<meta property="og:url" content="https://rbxlhacks.github.io/">


<!-- Theme Color -->
<meta name="theme-color" content="#EF4444">
